.headerImage > img {
	height: 66vh;
	width: 36vw;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	gap: 10%;
	font-family:
		"Roboto",
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	box-sizing: border-box;
}

.headerContainer {
	overflow: hidden;
	height: 83vh;
}

#header {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 28%;
	width: 84vw;
	left: 8%;
}

.headerBG {
	background-color: rgb(8, 145, 178, 1);
	transform: scale(1.2) rotate(-10deg);
	position: relative;
	height: 72vh;
	box-shadow: 5px 5px 5px rgb(102, 100, 100);
	width: 100vw;
	top: -20vh;
}

.headerImage > .heading {
	color: white;
	font-size: 62px;
	position: absolute;
	bottom: 0;
	margin-bottom: 8px;
}

.headerImage {
	position: relative;
	display: flex;
	justify-content: center;
}

.paraContainer {
	height: 58vh;
	padding: 0 20px;
	box-shadow: 5px 5px 5px rgb(102, 100, 100);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: 1px solid grey;
	background-color: white;
}

.paraContainer > .miniHeading {
	font-size: 64px;
	margin: 0;
}

.paraContainer > p {
	font-size: 32px;
	line-height: 130%;
	margin: 0 0;
}

.iconsHeader {
	text-align: right;
}

.iconsHeader > a > img {
	height: 50px;
	margin-right: 20px;
}

#projects {
	width: 84vw;
}

.projectHeading {
	margin: 0 0 14px 0;
	font-size: 64px;
}

.projectContainer {
	display: flex;
	gap: 36px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 10vh;
}

.project {
	height: 64vh;
	width: 26vw;
	display: grid;
	border: 1px solid grey;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	margin-bottom: 20px;
}

.iconProject > svg,
.iconProject > img {
	height: 40px;
	margin-left: 12px;
}

.projectNameContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.projectCopyContainer {
	padding: 8px 18px;
}

.project p {
	margin: 0;
	font-size: 18px;
	padding-top: 8px;
}

.project h4 {
	margin: 0;
	font-size: 24px;
}

.projectImage {
	font-size: 60px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: baseline;
	height: 44vh;
	background-color: cadetblue;
}

.footerImage > img {
	height: 42vh;
	width: 48vw;
}
#footer {
	display: flex;
	background-color: rgb(8, 145, 178, 1);
	align-items: center;
	height: 50vh;
	color: white;
	font-size: 32px;
	gap: 36px;
	padding: 0 30vw;
}
.footerContent {
	display: flex;
	width: 84vw;
	justify-content: space-between;
	align-items: center;
}

.leftContainer {
	height: 42.4vh;
}

#footer svg {
	height: 50px;
	fill: white;
}

.footerHeading {
	font-size: 60px;
	margin: 0;
}

.phone,
.email {
	display: flex;
	align-items: center;
	gap: 14px;
}

.phone {
	margin-bottom: 12px;
}

.email {
	margin-bottom: 24px;
}

.iconsFooter img {
	height: 50px;
	margin-right: 20px;
}
